beautifulsoup4==4.12.3
gpytorch==1.10
imageio==2.34.1
joblib==1.4.2
kmedoids==0.5.1
matplotlib==3.8.4
mordred==1.2.0
numpy==1.23.5
pandas==2.2.2
pymfe==0.4.3
rdkit==2023.9.6
Requests==2.32.2
scikit_learn==1.4.2
scikit_optimize==0.10.1
scipy==1.13.0
setuptools==69.5.1
Shapely==2.0.4
ternary_diagram==3.1.0
torch==2.2.2
torchbnn==1.2
wget==3.2
xgboost==2.0.3
git+https://github.com/KitchinHUB/boundary_search.git@0.0.1
